<!DOCTYPE html>
<html>
<head>
  <title>Twilio Softphone for Desk.com</title>

  <script type="text/javascript" src="https://static.twilio.com/libs/twiliojs/1.2-beta/twilio.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="//desksoftphone.herokuapp.com/interaction.js"></script>
  <script type="text/javascript" src="/scripts/softphone.js"></script>
  <script src="https://na15.salesforce.com/support/api/29.0/interaction.js"></script>
  <script src="https://na15.salesforce.com/support/console/29.0/integration.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/dialer.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/dialer-desk.css">

  <style>
    #softphone {
      margin-top: 65px;
    }
    #salesforceLogo {
      display:inline; 
      height:40px; 
      width:55px;
    }
    #logoWrapper {
      margin-top:-10px;
      color:#FFF;
    }
  </style>

</head>
<body>
  <div id="client_name" hidden="true"><%= client_name %></div>
  <nav id="navBar" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <span id="logoWrapper" class="navbar-brand" href="#">
        <img id="salesforceLogo" src="/salesforce-logo.png" style="" class="img-responsive" alt="Salesforce" /> OpenCTI
      </span>
    </div>
  </nav>
  <div class="container" id="wrapper">
  <div id="softphone" class="softphone">

    <div id="agent-status-controls" class="clearfix">
      <button class="agent-status ready">Ready</button><button class="agent-status not-ready">Not Ready</button><div class="agent-status active">Call In-Progress</div>
    </div><!-- /agent-status -->

    <div id="agent-status">
      <p></p>
    </div><!-- /agent-status -->

    <div class="divider"></div>

    <div id="number-entry">
      <input placeholder="+1 (555) 555-5555"></input>
      <div class="incoming-call-status">Incoming Call</div>
    </div><!-- /number-entry" -->

    <div id="dialer">
      <div id="dialer-container">
        <div class="numpad-container">
          <div class="number" value="1">1&nbsp;<span class="numtxt"> &nbsp;&nbsp;</span></div><div class="number" value="2">2 <span class="numtxt"> abc </span></div><div class="number" value="3">3 <span class="numtxt"> def </span></div><div class="number" value="4">4 <span class="numtxt"> ghi </span></div><div class="number" value="5">5 <span class="numtxt"> jkl </span></div><div class="number" value="6">6 <span class="numtxt"> mno </span></div><div class="number" value="7">7 <span class="numtxt"> pqrs</span></div><div class="number" value="8">8 <span class="numtxt"> tuv </span></div><div class="number" value="9">9 <span class="numtxt"> wxyz</span></div><div class="number ast" value="*">&lowast;</div><div class="number" value="0">0</div><div class="number" value="#">#</div>
        </div><!-- /numpad-container -->
      </div><!-- /dialer-container -->
    </div><!-- /dialer -->

  <div id="action-button-container">
    <div id="action-buttons">
      <button class="call">Call</button>
      <button class="answer">Answer</button>
      <button class="hangup">Hangup</button>
      <button class="mute">Mute</button><button class="hold">Hold</button><button class="unhold">UnHold</button>
    </div><!-- /action-buttons -->
  </div><!---action-button-containe -->

    <div id="call-data">
      <h3>Caller info</h3>
      <ul class="name"><strong>Name: </strong><span class="caller-name"></span></ul>
      <ul class="phone_number"><strong>Number: </strong><span class="caller-number"></span></ul>
      <ul class="queue"><strong>Queue: </strong><span class="caller-queue"></span></ul>
      <ul class="message"><strong>Message: </strong><span class="caller-message"></span></ul>
    </div><!-- /call-data -->


     <div id="callerid-entry">
      <input style="visibility:<%= anycallerid %>" placeholder="Change your callerid"></input>
      <input style="visibility:<%= anycallerid %>" placeholder="Change your callerid"></input>
    </div><!-- /number-entry" -->

    <div id="team-status">
      <div class="agents-status"><div class="agents-num">-</div>Agents</div><div class="queues-status"><div class="queues-num">-</div>In-Queue</div>
    </div><!-- /team-status -->

    <div class="powered-by">
      <img src="/poweredby.png" />
    </div>

    <div class="powered-by-dark">
      <img src="/poweredby-dark.png" />
    </div>

  </div><!-- /softphone -->
  </div><!-- /container -->
</body>
</html>
